<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/8899.jpg)"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-left">


				<div class="row row-mt-15em">
					<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
						<h1 class="cursive-font">Escolha a cerveja para trocar e experimentar!</h1>
					</div>
					<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
						<div class="form-wrap">
							<div class="tab">

								<div class="tab-content">
									<div class="tab-content-inner active" data-content="signup">
										<h3 class="cursive-font">Filtrar Troca</h3>
										<form action="#">
											<div class="row form-group">
												<div class="col-md-12">
													<label for="inputTitle">Nome da Cerveja</label>
													<input type="text" id="inputTitle" name="title"
														class="form-control" value="<%= text.title %>">
												</div>
											</div>
											<div class="row form-group">
												<div class="col-md-12">
													<label for="inputName">Nome do Cervejeiro</label>
													<input type="text" id="inputName" name="name" class="form-control" value="<%= text.name %>">
												</div>
											</div>
											<div class="row form-group">
												<div class="col-md-12">
													<label for="inputCategories">Tipo de Cerveja</label>
													<input type="text" id="inputCategories" name="categories"
														class="form-control" value="<%= text.categories %>">
												</div>
											</div>
											<div class="row form-group">
												<div class="col-md-12">
													<label for="inputCity">Cidade</label>
													<input type="text" id="inputCity" name="city" class="form-control" value="<%= text.city %>">
												</div>
											</div>

											<div class="row form-group">
												<div class="col-md-12">
													<input type="submit" class="btn btn-primary btn-block"
														value="Pesquisar">
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</header>