<!DOCTYPE HTML>
<html>

<%- include("inc/head") -%>

<body>

	<div class="gtco-loader"></div>

	<div id="page">

		<%- include("inc/header-menu") -%>

		<%- include("inc/header") -%>
		
		<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2 class="cursive-font primary-color">Cervejas Artesanais</h2>
						<p>Todos os tipos de cervejas são encontradas aqui!</p>
					</div>
				</div>
				<div class="row">
		
					<div class="col-lg-4 col-md-4 col-sm-6">
						<a href="images/cervejaIpa.jpg" class="fh5co-card-item image-popup">
							<figure>
								<div class="overlay">
									<i class="ti-plus"></i>
								</div>
								<img src="images/cervejaIpa.jpg" alt="Image" class="img-responsive">
							</figure>
							<div class="fh5co-text">
								<h2>Cerveja Ipa</h2>
								<p>India Pale Ale. São famosas por seu amargor, sabor e aroma de lúpulo acentuado.</p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<a href="images/cervejaTrigp.jpg" class="fh5co-card-item image-popup">
							<figure>
								<div class="overlay">
									<i class="ti-plus"></i>
								</div>
								<img src="images/cervejaTrigp.jpg" alt="Image" class="img-responsive">
							</figure>
							<div class="fh5co-text">
								<h2>Cerveja Trigo</h2>
								<p>Cerveja de Trigo são refrescantes, possuem baixo amargor e alta carbonatação.</p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<a href="images/cervejaLarger.jpg" class="fh5co-card-item image-popup">
							<figure>
								<div class="overlay">
									<i class="ti-plus"></i>
								</div>
								<img src="images/cervejaLarger.jpg" alt="Image" class="img-responsive">
							</figure>
							<div class="fh5co-text">
								<h2>Cerveja Pilsen</h2>
								<p>Pilsen possui com mais corpo, mais sabor de malte e lúpulo que as American Lagers.</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div id="gtco-features">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
						<h2 class="cursive-font">Nossos Serviços</h2>
						<p>Com o Troca Beer você só tem vantagens!</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span class="icon">
								<i class="ti-face-smile"></i>
							</span>
							<h3>Cervejeiros felizes</h3>
							<p>Quer felicidade maior do que apreciar uma cerveja artesanal e exclusiva!</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span class="icon">
								<i class="ti-thought"></i>
							</span>
							<h3>Variedades de Cervejas</h3>
							<p>Com a Troca Beer, você tem variedades de cervejas para degustar!</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span class="icon">
								<i class="ti-truck"></i>
							</span>
							<h3>Trocas</h3>
							<p>Escolha sua cerveja e combine com o produtor como vai ser o tipo de troca!</p>
						</div>
					</div>


				</div>
			</div>
		</div>

		<div id="gtco-subscribe">
			<div class="gtco-container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2 class="cursive-font">Se inscrever</h2>
						<p>Receba notificações de cervejas novas postadas para troca!</p>
					</div>
				</div>
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2">
						<form class="form-inline">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="email" class="sr-only">E-mail</label>
									<input type="email" class="form-control" id="email" placeholder="Seu E-mail">
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<button type="submit" class="btn btn-default btn-block">Inscrever</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	<%- include("inc/footer-scripts") -%>
</body>

</html>